<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= header('Create an account!') %>

<p>Find me in app/views/users/index.html.erb</p>

<%= render 'user_form' %>


<a href= "/login"> Sign in </a>
<br>
<% if @user.errors.full_messages.any? %>
	<ul>
		<% @user.errors.full_messages.each do |error_message| %>
			<li><%= error_message %></li> <br />
		<% end %>
	</ul>
<% end %>
