<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= header('Create an account!') %>

<p>Find me in app/views/users/index.html.erb</p>

<%= render 'user_form' %>

<a href= "/login"> Sign in </a>
